<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>315052108020-hmj8g38kr7bitibd12ab3r3flcn37vbp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.315052108020-hmj8g38kr7bitibd12ab3r3flcn37vbp</string>
	<key>API_KEY</key>
	<string>AIzaSyB6Uwb15UvT4Ho--yIi0WXvnFRjbf6nHOc</string>
	<key>GCM_SENDER_ID</key>
	<string>315052108020</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.justterror.QuasiTwitter</string>
	<key>PROJECT_ID</key>
	<string>quasitwitter-5792f</string>
	<key>STORAGE_BUCKET</key>
	<string>quasitwitter-5792f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:315052108020:ios:5ff3f9743261fbeb6756a1</string>
</dict>
</plist>